* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-content: center;
  color: black;
  background-color: rgb(188, 122, 226);
  margin: 0px;
}

#navBar {
  display: flex;
  width: 100vw;
  background-color: white;
  padding: 1rem;
}

#mainpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1.5rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  padding: 1rem;
  background-color: white;
  border-radius: 50px;
  margin-left: 1rem;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

#Moogle {
  justify-self: flex-start;
  max-width: 200px;
  max-height: 160px;
}

.dummyComponent {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
}
/* /////////////////// */

.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

/* ////////////// */

.Moving {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  height: 100vh;
  /* cursor: url("Moogle-v1.png"), default; */
}

.Mog {
  max-width: 200px;
  max-height: 160px;
}

#moogleLand {
  justify-self: center;
  align-self: center;
}

/* Canvas */

#container {
  margin: 0px auto;
  width: 500px;
  height: 375px;
  border: 10px #333 solid;
}

#videoElement {
  width: 500px;
  height: 375px;
  background-color: #666;
}
